body{
    font-family: Arial;
    position: relative;
}
#content{
    padding: 0px 10px;
    font-size: 14px;
    top:0px;
    position: relative;
}
 html{
    margin:0px;
    padding: 0px;
    height: 100%;-webkit-user-select:none;
    width: 100%;
}

body{
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 0px;
    height: 100%;-webkit-user-select:none;

    width: 100%;
}
#title
{
    position: fixed;
    top: 0px; width: 100%;
    z-index: 803;
    height: 20px;
}
.header{

    position: fixed;
    top: 0px;
    width: 100%;
    background-color: black;
    opacity: 0.7;

    z-index: 900;
}
.back{
    height: 25px;width: 25px; margin-top: 27px; margin-left: 20px;
    background-image: url('../../Theme/Day/back.png') ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

 .header-hide
  {
      -webkit-animation:header-hide 0.5s;
      -o-animation:header-hide 0.5s;
      animation:header-hide 0.5s;
     height: 60px;
     top:-60px;
  }
.header-show
{
    -webkit-animation:header-show 0.5s;
    -o-animation:header-show 0.5s;
    animation:header-show 0.5s;
    height: 60px;
    top:0px;
}
.footer{

    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: black;
    opacity: 0.7;

    z-index: 900;
}
.footer-show
{    height: 60px;
    -webkit-animation:footer-show 0.5s;
    -o-animation:footer-show 0.5s;
    animation:footer-show 0.5s;
    display: block;
}
.footer-hide
{
    -webkit-animation:footer-hide 0.5s;
    -o-animation:footer-hide 0.5s;
    animation:footer-hide 0.5s;
    height: 0px;
}
.toolbar{
    list-style-type: none; margin: 0px; padding: 0px;
}
.toolbar li i{
    font-size:2em;
}
.toolbar li{
    float: left;
    width: 25%;
    font-size: 10px;
    color:white;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 5px;
    padding-top: 5px;

}
.setting{
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    position: fixed; bottom: 0px;    background-color: black; opacity: 0.9;
    padding: 0.5em 1em ;
    left: 0px; right: 0px;
    text-align: center;
    vertical-align: middle;
    z-index: 901;
}
.setting-show
{
    -webkit-animation:setting-show 0.3s;
    -o-animation:setting-show 0.3s;
    animation:setting-show 0.3s;
    height: 200px;
    display:block;
}
.setting-hide
{
    -webkit-animation:setting-hide 0.3s;
    -o-animation:setting-hide 0.3s;
    animation:setting-hide 0.3s;
    display: none;
}
.font-setting{
    height: 2em;
    border: 1px solid white;
    border-radius: 0.2em;

}
.font-setting>.btn{
    width: 50%; color: white;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 2em;
}
.font-setting>.btn-touch{
    width: 50%;
    height: 100%;
    float: left;
    line-height: 2em;
    background-color: #2db4a9;
}
.common-ul{
    list-style-type: none;   padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;  float: left;
}
.common-ul>li{
    float: left;
    font-size: 10px;   color:white; text-align: center;

}
.light-gray {
    -webkit-appearance: none;
    width: 100%; /* Specific width is required for Firefox. */
}
.light-gray::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid gray;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: gray;
    cursor: pointer;
    margin-top: -3px;
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.light-gray::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    background-color: gray;
    width: 100%;
    height: 2px;
    cursor: pointer;  margin-top: -5px;
    animate: 0.2s;
}
.light {
    -webkit-appearance: none;
    width: 100%; /* Specific width is required for Firefox. */
}
.light::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #00ccbd;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #00ccbd;
    cursor: pointer;
    margin-top: -3px;
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.light::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    background-color: #2ec1b5;
    width: 100%;
    height: 2px;
    cursor: pointer;  margin-top: -5px;
    animate: 0.2s;
}
.row {
    padding: 10px;
}
.li-20
{
    width: 20%;
}
.ul-h-30, .ul-h-30 li
{
    height: 30px;
    line-height: 30px;
}

.color-picker-box
{
    width: 30px;height: 30px; border-radius: 19px;
    border-width: 2px;
    border-style: solid;
    background: black;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
}
.check
{

    border-color: #2db4a9;
    -webkit-animation:color-check 0.3s;
    -o-animation:color-check 0.3s;
    animation:color-check 0.3s;

}
.uncheck
{
    border-color: black;
    background-color: black; padding: 2px;
    -webkit-animation:color-uncheck 0.3s;
    -o-animation:color-uncheck 0.3s;
    animation:color-uncheck 0.3s;
}
.color-picker-box .color-picker
{
    width: 30px;height: 30px; border-radius: 15px;
}
.color0
{   background-color: #e0bc89;

    background-image: url('../../Theme/Day/readback.png') ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.color1
{
    background-color: #f1e2c6;
}
.color2
{
    background-color: #c2e0c6;
}
.color3
{
    background-color: #ebebeb;
}
.color4
{
    background-color: #dfbfbf;
}
@-webkit-keyframes color-check /* Safari 和 Chrome */
{
    from {border-color: black;}
    to {border-color: #2db4a9;}
}
@-webkit-keyframes color-uncheck /* Safari 和 Chrome */
{
    from {border-color:  #2db4a9;;}
    to {border-color: black;}
}

.light-btn
{
    background: transparent;
    border:1px solid #2db4a9;
    color:#2db4a9;
    height: 20px; line-height: 20px; font-size: 1em;
}
.light-btn-disable
{
    background: transparent;
    border:1px solid gray;
    color: gray;
    height: 20px;line-height: 20px; font-size: 1em;
}
.down-check
{
    background-color: #2db4a9;
}
.down-uncheck
{
    background-color: dimgray;
}
.right-border-black
{
    height: 100%; float: right; width: 1px;background-color: black;margin: 0px; border: none
}

.touch-block
{
    position: absolute; background-color: #b2dba1; height: 33%;top: 33%;left: 30%;  width: 40%;
    z-index: 801;
}

.up-block
{
    position: absolute;
    background-color: transparent;opacity: 0.5;
    height:50%;width: 100%;
    top:0px;
    z-index: 800;
}
.down-block
{
    position: absolute;
    background-color: transparent;opacity: 0.3;
    color: white;
    height:50%;
    width: 100%;
    bottom: 0px;
    z-index: 800;
}
@-webkit-keyframes footer-show /* Safari 和 Chrome */
{
    from {height: 0px;opacity: 0.3}
    to {   height: 60px;opacity:0.7}
}
@-webkit-keyframes footer-hide /* Safari 和 Chrome */
{
    from {height: 60px;}
    to {height: 0px;}
}

@-webkit-keyframes   setting-show
{
    from {height: 0px;opacity: 0.3}
    to {   height: 200px;opacity:0.7}
}
@-webkit-keyframes   setting-hide
{
    from {height: 200px;opacity:0.7}
    to {height: 0px;opacity: 0}
}
@-webkit-keyframes header-show /* Safari 和 Chrome */
{
    from {top: -60px;opacity: 0.3}
    to {   top: 0px;opacity:0.7}
}
@-webkit-keyframes header-hide /* Safari 和 Chrome */
{
    from {top: 0px;}
    to {top: -60px;}
}
